
/* MASTER */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    color: #efefef;  
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

body{
  min-height: 100vh;
  background-color: #aca7da;
}

a{
font-weight: bold;

}

a:link { 
text-decoration: none;
}

a:visited{ 
text-decoration: none; 
}

a:hover {
text-decoration: none; 
}

a:active { 
text-decoration: none; 
}

h1{
font-size: 50px;
font-family: 'Barriecito', cursive;
color: #3d3c4d;

}

h2{
  font-size: 20px;
  color: #3d3c4d;
}

.sub-heading{
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: 'Barriecito', cursive;
}

.heading{
  text-align: center;
  font-size: 80px;
  color: white;

}

.heading2{
  text-align: center;
  font-size: 80px;
  color: white;
  margin-top: 20px;

}

.title{

}

.back-btn{
  padding: 10px 40px;
  margin-top: 50px;
  margin-left: 50px;

  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: #3d3c4d;
  border: 0;
  border-radius: 30px;
  background-color: #ffffff;
}

.back-btn-a :hover{
  transition: 400ms;
  background-color:#3d3c4d;
  color: #efefef;    
}






#logo{
width: auto;
height: 80px;

}

#logo-name{
  font-size: 400%;
  margin: 0;
  margin-left: 15px;
  color: #efefef;
}

.btn{
  padding: 17px 40px;
  margin: 10px;

  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: #3d3c4d;
  border: 0;
  border-radius: 30px;
  background-color: #ffffff;
}

.btn-back{
padding: 10px 40px;
margin: 40px 40px 0 40px;

font-size: 20px;
background-color: rgb(255, 255, 255);
color: #3d3c4d;
border: 0;
border-radius: 30px;
background-color: #ffffff;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  width: 50px;
  height: 50px;
  padding: 16px;

  background-image: url(/assets/img/menu.png) ;
  background-repeat: no-repeat;
  background-size: 50px;

  color: white;
  border: none;

  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
   background-color: rgb(0, 0, 0,0);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160x;
  margin-top: 34px;
  
  right: 0px;
  
  background-color:#efefef;
  font-size: 25px;
  text-align: center;
  width: 250px;
 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  z-index: 1;
}

.dropdown-content a {
  color:#3d3c4d;
  text-decoration: none;
  display: block;
  padding: 10px;
  

}

.dropdown-content a:hover {
  background-color: #ddd;
}

.parents-drop{
  border-bottom: #d4d4d4 solid 3px;
}

.show {
  display:block;
}

/* https://www.w3schools.com/howto/howto_js_dropdown.asp */

.header{
  margin-right: 20px;
  margin-left: 20px;
  padding: 15px;
  height: 100px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  

  background: white;
  background-color: #aca7da;
 
  animation-name: header;
  animation-duration: 0.5s;
}

@keyframes header{
0%   {top:-100px;}
100% {left:0px; top:0px;}
}


.nav-a :hover{
  transition: 400ms;
  background-color:#3d3c4d;
  color: #efefef;    
}

.break{
  width: 100%;
}

.red-line-top{
  border-top-left-radius: 130px;
  border-top-right-radius: 130px;
  height: 10px;
  width: 100%;

  background-color: #f5476d
}


.divider{
  display: flex;
  position: relative;
  margin-top: 15px;
  width: 100%;

 
  z-index: 1000;
 
  animation-name: divider;
  animation-duration: 1s;
}

.divider-content{
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;


 
  z-index: 1000;

}

  @keyframes divider{
      0%   {left:-2000px;}
      100% {left:0px; top:0px;}
  }

  .shape1{
  border-top-left-radius: 130px;
  height: 10px;
  width: 25vw;

  background-color: #f5476d
}

  .shape2{
  height: 10px;
  width: 25vw;

  background-color: #f29bae
}

  .shape3{
  height: 10px;
  width: 25vw;

  background-color: #c3ddee;
}

  .shape4{
  border-top-right-radius: 130px;
  height: 10px;
  width: 25vw;;

  background-color: #aad1eb;
}

.nav-back :hover{
transition: 400ms;

font-size: 22px;
background-color:#3d3c4d;
color: #efefef;    
}


.content{
  margin: 00px 300px 20px 300px;
  

  position: relative;

  animation-name: content;
  animation-duration: 1s;
}

@keyframes content{
  0%   {top:1200px;}
  100% {left:0px; top:0px;}
  
}

.footer{
  height: auto;
  width: auto;
  background-color: #3d3c4d;
}

  #footer-text{
    text-align: center;
    justify-content: center;
    padding: 12px;

    color: #efefef;
  }


/* MASTER RE-SIZE */

@media screen and (max-width: 300px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  h2 { 
    font-size: 16px;
  }
}

 @media screen and (max-width: 650px) {
        #logo-name {
            display: none;
        }
      }

      @media screen and (max-width: 950px) {
        .btn {
          display: none;
        }
      }
      
      @media screen and (min-width: 950px) {
        .dropdown {
          display: none;
        }
      }

      @media screen and (min-width: 950px) {
        #menu-icon {
          display: none;
        }
      }

      @media screen and (max-width: 1450px) {
        .content {
          margin: 00px 30px 20px 30px;
        }
      }
      
      @media screen and (max-width: 650px) {
        .nav-panels {
          display: none;
        }

        .heading{
          font-size: 50px;
          margin-top: 30px;
        }

        .sub-heading{
          font-size: 20px;
        }
      }

/* HOME PAGE */

.info{
    display: flex;
    justify-content: center;
}

    .info-box{
        width: 100vw;
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;

        background-color: #efefef;
        border-radius: 40px;

        animation-name: pulse;
        animation-duration: 1.0s;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }

    @keyframes pulse {
        0% {
            transform: scale(.97);
        }

        100% {
            transform: scale(1);
        }
    }

        .info-heading{
           text-align: center;
           margin: 30px;
        }

        .info-body{
            text-align: center;
            margin: 30px;
        }

        .info-body2{
            text-align: center;
            padding: 15px;
            font-size: 30px;
            background-color: #f5476d;
            color: #ffffff;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            text-transform: uppercase;
        }

.nav-panels{
    display: flex;
    justify-content: space-between;
}
    .parents-panel{
        display: flex;
        flex-direction: column;
        width: 35%; 
    }
    

        .parents-panel-btn{
            width: auto;
            height: auto;
            padding: 20px;

            font-size: 30px;
            color: #ffffff;
            background-color: #aad1eb;
            border-radius: 100px;
        }

        .parents{
          justify-content: center;
          display: flex;
        }

        .parents :hover{
            transition: 400ms;

            font-size: 30px;
            background-color:#3d3c4d;
        }

        #social-graphic{
            display: block;
            margin: auto;
            
            width: 100%;
        }
    
    .teenagers-panel{
        display: flex;
        flex-direction: column;

        width: 35%;
    }

        .teenagers-panel-btn{
            width: auto;
            height: auto;
            
            padding: 20px;

            font-size: 30px;
            color: #ffffff;
            background-color: #f5476d;
            border-radius: 100px;
            
        }

        .teenagers{
           justify-content: center;
           display: flex;
        }

        .teenagers :hover{
            transition: 400ms;

            font-size: 30px;
            background-color:#3d3c4d;
        }

.recent-cases-container{
    display: flex;
    height: auto;
    margin-top: 20px;

    background-color: #ffffff;
    border-radius: 40px;
    
}         

.recent-cases-text{
    width: 50vw;
}

    .recent-cases-heading{
        margin: 30px;    
    }

    .recent-cases-body{
        margin: 30px;
    }

    .recent-cases-box{
        width: 50vw;
        text-align: center;

        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: #f5476d;
    }

.bubbles{
 
  display: flex;
  justify-content: space-between;
  
}



    .bubble-left{
      display: flex;
        flex-direction: column;

        width: 35%;
    }

    .bubble-right{
      display: flex;
      flex-direction: column;

      width: 35%;
      
    }


.stats-container{
    display: flex;
    height: auto;
    justify-content: space-between;

    border-radius: 40px;
   
    color: white; 
}

    .stats-box-left{
        padding: 30px;
        text-align: center;
        width: 40vw;
        margin-right: 10px;
        
        border-radius: 40px;
        background-color: #f5476d;
        
    }

        .stats-text-left{
            color: white;
            justify-content: center;
        }

    .stats-box-right{
        padding: 30px;
        width: 40vw;
        text-align: center;
        margin-left: 10px;

        border-radius: 40px;
        background-color: #aad1eb;  
    }

    .stats-text-right{
        color: white;
        justify-content: center;
    }

.find-out-more-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

    border-radius: 40px;
}   

    .more-graphic{
        width: 10%;
        margin-right: 10px;
    }

    .more-box :hover{
        transition: 400ms;

        background-color:#3d3c4d;
        color: #efefef;
    }

    .more-btn{ 
        width: auto;
        height: auto;
        padding: 20px;

        font-size: 30px;
        color: #3d3c4d;
        background-color: #ffffff;
        border-radius: 100px;
    }

    /* HOME RE-SIZE */

    @media screen and (max-width: 300px) {
      .welcome-body2 { 
        font-size: 16px;
      }
    }
    

    @media screen and (max-width: 650px) {
      .bubbles {
        display: none;
      }

      .stats-container{
        flex-direction: column;
      }

      .stats-box-left{
        flex-direction: column;
        width: auto;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      .stats-box-right{
        flex-direction: column;
        width: auto;
      }

      .more-btn{
        font-size: 16px;
      }

      .more-box :hover{
        font-size: 18px;
      }

      .find-out-more-container{
        flex-direction: column;
        width: auto;
      }

      .more-graphic{
        width: 100px;
      }
    }

    @media screen and (max-width: 950px) {
      .recent-cases-container {
        flex-direction: column;
      }

      .recent-cases-box {
        height: 300px;
        width: auto;
        
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 40px;

      }

      .recent-cases-text{
        width: auto;
        text-align: center;
      }   
    }

      /* PARENTS PAGE */

 
     .cdh-text{
      margin: 40px;
      padding: 20px;
      border-radius: 100px;
      background-color: white;
      
     }

     
     .convo-container{
      display: flex;
      height: auto;
      align-items: center;
      border-radius: 40px;
     }

     #convo-img{
      width: 100%;
      border-radius: 20px;
     }

     #convo-btn{
      width: 15vw;
      border-radius: 10px;
     
     }

     #convo-btn-img{
      width: 15vw;
      border-radius: 10px;
      
     }

     .convo-left{
      width: 50%;
      
     }

     .convo-right{
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      
      align-items: center;
      text-align: center;
  
     }




     .dangers-container{
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
     }

     .dangers-left{
      width: 50%;
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
     }

     .dangers-right{
      width: 50%;
     }



     #dangers-img{
      width: 100%;
      border-radius: 20px;
     }

     #dangers-btn{
      width: 15vw;
      border-radius: 10px;
     
     }

     #dangers-btn-img{
      width: 15vw;
      border-radius: 10px;
      
     }



     .help-container{
      display: flex;
      height: auto;
      align-items: center;

      border-radius: 40px;
     }

     .help-left{
      width: 50%;
      
     }

     .help-right{
      width: 50%;
      display: flex;
      flex-direction: column;
      
      align-items: center;
      text-align: center;
      margin-top: 30px;
  
     }

     #help-img{
      width: 100%;
      border-radius: 20px;
     }

     #help-btn{
      width: 15vw;
      border-radius: 10px;
     
     }

     #help-btn-img{
      width: 15vw;
      border-radius: 10px;
      
     }

     @media screen and (max-width: 650px) {
      .convo-left {
        display: none;
      }

      .convo-container{
        justify-content: center;
        
      }

      .convo-right{
        width: 100%;
      }

      #convo-btn-img{
        width: 30vw;
      }

      #convo-btn{
        width: 30vw;
      }
    }

     @media screen and (max-width: 650px) {
      .dangers-left {
        width: 100%;
      }

      .dangers-container{
        justify-content: center;
        
      }

      .dangers-right{
        display: none;
      }

      #dangers-btn-img{
        width: 30vw;
      }

      #dangers-btn{
        width: 30vw;
      }
    }

     @media screen and (max-width: 650px) {
      .help-left {
        display: none;
      }

      .help-container{
        justify-content: center;
        
      }

      .help-right{
        width: 100%;
      }

      #help-btn-img{
        width: 30vw;
      }

      #help-btn{
        width: 30vw;
      }


    }

    .info-convo-page{
     display: flex;
     align-items: center;
     flex-direction: column;
     
    }



    #convo-page-img{
     border-radius: 40px;
     width: 50%;
      
    }

    .info-box-convo-page{
      padding: 20px;
      width: 75%;
      background-color: white;
      border-radius: 40px;
      margin-top: 20px;

    }

    .info-body-convo-page{
      text-align: center;
      
      
    }

    .stepping-stone-left-container{
      display: flex;
      height: auto;
      align-items: center;

      border-radius: 40px;
      margin: 20px;
     }

     #stepping-stone-left-img{
      width: 100%;
      border-radius: 20px;
      
     }

     .stepping-stone-left-left{
      width: 50%;
     }

     .stepping-stone-left-right{
      width: 50%;
      display: flex;
      flex-direction: column;
      
      align-items: center;
      text-align: center;
  
     }




     .stepping-stone-right-container{
      display: flex;
      height: auto;
      align-items: center;
      justify-content: end;

      border-radius: 40px;
      margin: 20px;
     }

     .stepping-stone-right-left{
      width: 50%;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
     }

     .stepping-stone-right-right{
      width: 50%;
     }

     #stepping-stone-right-img{
      width: 100%;
      border-radius: 20px;
     }

     

    @media screen and (max-width: 650px) {
      .info-body-convo-page {
        font-size: 16px;
      }

      #convo-page-img{
        display:none
      }

      .info-box-convo-page{
        margin: 0;;
      }
      .stepping-stone-left-container{
        display: flex;
        flex-direction: column;
      }
      .stepping-stone-right-container{
        display: flex;
        flex-direction: column;
      }

      #stepping-stone-left-img{
        display: none;
      }

      #stepping-stone-right-img{
        display: none;
      }

      .stepping-stone-left-right{
        width: 100%;
      }

      .stepping-stone-right-left{
        width: 100%;
      }
    }

    #teach-graphic{
      width: 100%;
    }

    .more-info-grid{
      width: 100%;
      
      
    }

    .more-info-grid-top{
      display: flex;
      flex-direction: row;
    }

    .more-info-grid-bottom{
      display: flex;
      flex-direction: row;
    }

    .box{
      width: 33vw;
      height:23vw ;
      background-color: white;
      margin: 10px;
      border-radius: 30px;
    }

    

    .list-help{
      display: flex;
      align-items: center;
      flex-direction: column;
      
     }
 
     .list-help-box{
       padding: 20px;
       width: 75%;
       background-color: white;
       border-radius: 40px;
       margin-top: 20px;
 
     }
 
     .list-help-body{
       text-align: center;
       
       
     }

  