*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
    border: 0;
    color: #efefef;  
}

body{
    min-height: 100vh;
    background-color: #aca7da;
}

a{
  font-weight: bold;
}

h1{

  margin: 20px;
  font-size: 50px;

  color: #3d3c4d;
  font-family: helvetica;
}

.dropbtn {
  width: 50px;
  height: 50px;
  padding: 16px;

  background-image: url(/assets/img/menu.png) ;
  background-repeat: no-repeat;
  background-size: 50px;

  color: white;
  border: none;

  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
   background-color: rgb(0, 0, 0,0);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160px;
  margin-top: 50px;
  right: 0px;
  
  background-color:#efefef;
  font-size: 30px;
  text-align: center;
 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;

  display: block;

  color:#3d3c4d;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display:block;
}


h2{
    font-size: 20px;
    color: #3d3c4d;
}

#logo{
 width: auto;
 height: 80px;

}

#logo-name{
    font-size: 400%;
    margin-left: 10px;
    color: #efefef;
}

.btn{
    padding: 17px 40px;
    margin: 10px;

    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: #3d3c4d;
    border: 0;
    border-radius: 30px;
    background-color: #ffffff;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    margin: 0px 30px 0 30px;
    height: 15vh;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    background-color: #aca7da;
   
    animation-name: header;
    animation-duration: 2s;
}

  @keyframes header{
  0%   {top:-100px;}
  100% {left:0px; top:0px;}
  }

.nav :hover{
    transition: 400ms;

    font-size: 22px;
    background-color:#3d3c4d;
    color: #efefef;    
}



.divider{
    display: flex;
    justify-content: center;
    position: relative;

    margin: 0px 30px 0 30px;

    z-index: 1000;
   
    animation-name: divider;
    animation-duration: 2s;
}

    @keyframes divider{
        0%   {left:-2000px;}
        100% {left:0px; top:0px;}
    }

    .shape1{
    border-top-left-radius: 130px;
    height: 10px;
    width: 24vw;

    background-color: #f5476d
}

    .shape2{
    height: 10px;
    width: 24vw;

    background-color: #f29bae
}

    .shape3{
    height: 10px;
    width: 24vw;

    background-color: #c3ddee;
}

    .shape4{
    border-top-right-radius: 130px;
    height: 10px;
    width: 24vw;;

    background-color: #aad1eb;
}

.content{
    margin: 20px 30px 20px 30px;

    position: relative;

    animation-name: content;
    animation-duration: 2s;
}

@keyframes content{
    0%   {top:1200px;}
    100% {left:0px; top:0px;}
    
}

.welcome{
    display: flex;
    justify-content: center;
}

    .welcome-box{
        width: 100vw;
        height: auto;
        margin-bottom: 20px;

        background-color: #efefef;
        border-radius: 40px;

        animation-name: pulse;
        animation-duration: 1.0s;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }

    @keyframes pulse {
        0% {
            transform: scale(.97);
        }

        100% {
            transform: scale(1);
        }
    }

        .welcome-heading{
           text-align: center;
           margin: 30px;
        }

        .welcome-body{
            text-align: center;
            margin: 30px;
        }

        .welcome-body2{
            text-align: center;
            padding: 15px;
            font-size: 30px;
            background-color: #f5476d;
            color: #ffffff;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            text-transform: uppercase;
        }

.nav-panels{
    display: flex;
    justify-content: space-between;
}
    .parents-panel{
        display: flex;
        flex-direction: column;
        width: 35%; 
    }
    

        .parents-panel-btn{
            width: auto;
            height: auto;
            padding: 20px;

            font-size: 30px;
            color: #ffffff;
            background-color: #aad1eb;
            border-radius: 100px;
        }

        .parents{
            margin: auto;
        }

        .parents :hover{
            transition: 400ms;

            font-size: 30px;
            background-color:#3d3c4d;
        }

        #social-graphic{
            display: block;
            margin: auto;
            
            width: 100%;
        }
    
    .teenagers-panel{
        display: flex;
        flex-direction: column;

        width: 35%;
    }
    

        .teenagers-panel-btn{
            width: auto;
            height: auto;
            
            padding: 20px;

            font-size: 30px;
            color: #ffffff;
            background-color: #f5476d;
            border-radius: 100px;
            
        }

        .teenagers{
           margin: auto;
        }

        .teenagers :hover{
            transition: 400ms;

            font-size: 30px;
            background-color:#3d3c4d;
        }

.recent-cases-container{
    display: flex;
    height: auto;
    margin-top: 20px;

    background-color: #ffffff;
    border-radius: 40px;
    
}         

.recent-cases-text{
    width: 50vw;
}

    .recent-cases-heading{
        margin: 30px;    
    }

    .recent-cases-body{
        margin: 30px;
    }

    .recent-cases-box{
        width: 50vw;
        text-align: center;

        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: #f5476d;
    }


.stats-container{
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-top: 20px;

    border-radius: 40px;
   
    color: white; 
}

    .stats-box-left{
        padding: 30px;
        text-align: center;
        width: 40vw;
        
        border-radius: 40px;
        background-color: #f5476d;
        
    }

        .stats-text-left{
            color: white;
            justify-content: center;
        }

    .stats-box-right{
        padding: 30px;
        width: 40vw;
        text-align: center;

        border-radius: 40px;
        background-color: #aad1eb;  
    }

    .stats-text-right{
        color: white;
        justify-content: center;
    }

.find-out-more-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

    border-radius: 40px;
}   

    .more-graphic{
        width: 10%;
    }

    .more-box :hover{
        transition: 400ms;

        font-size: 32px;
        background-color:#3d3c4d;
        color: #efefef;
    }

    .more-btn{ 
        width: auto;
        height: auto;
        padding: 20px;

        font-size: 30px;
        color: #3d3c4d;
        background-color: #ffffff;
        border-radius: 100px;
    }

    .footer{
      height: auto;
      width: auto;
      background-color: #3d3c4d;
    }

      #footer-text{
        text-align: center;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;

        color: #efefef;
      }

    @media screen and (max-width: 300px) {
        h1 {
          font-size: 30px;
        }
      }

      @media screen and (max-width: 300px) {
        h2 { 
          font-size: 16px;
        }
      }

      @media screen and (max-width: 300px) {
        .welcome-body2 { 
          font-size: 16px;
        }
      }

    @media screen and (max-width: 650px) {
        #logo-name {
            display: none;
        }
      }

      @media screen and (max-width: 950px) {
        .btn {
          display: none;
        }
      }
      
      @media screen and (min-width: 950px) {
        .dropdown {
          display: none;
        }
      }

      @media screen and (min-width: 950px) {
        #menu-icon {
          display: none;
        }
      }
      
      @media screen and (max-width: 640px) {
        .header {
         align-items: center;
        }
      }

      @media screen and (max-width: 640px) {
        .nav-panels {
          display: none;
        }
      }
      
      @media screen and (max-width: 640px) {
        .recent-cases-box {
          display: none;
        }
      }

      @media screen and (max-width: 640px) {
        .stats-container{
          flex-direction: column;
        }
      }

      @media screen and (max-width: 640px) {
        .recent-cases-text{
          width: auto;
          text-align: center;
      }

      @media screen and (max-width: 640px) {
        .stats-box-left{
          flex-direction: column;
          width: auto;
          margin-bottom: 20px;
      }

      @media screen and (max-width: 640px) {
        .stats-box-right{
          flex-direction: column;
          width: auto;
      }

      @media screen and (max-width: 640px) {
        .more-btn{
          font-size: 16px;
      }

      @media screen and (max-width: 640px) {
        .more-box :hover{
          font-size: 18px;
      }

      @media screen and (max-width: 640px) {
        .find-out-more-container{
          flex-direction: column;
          width: auto;
      }

      @media screen and (max-width: 640px) {
        .more-graphic{
          width: 100px;
      }
    }