*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
    border: 0;
    color: #efefef;
    
    
}

body{
    min-height: 100vh;
    background-color: #aca7da;
    margin: 0 50px 0px 50px;
    
    
}

h1{
    color: #3d3c4d;
    margin: 20px;
    font-size: 50px;
    font-family: helvetica;

}



@keyframes header{
    0%   {top:-100px;}
    100% {left:0px; top:0px;}
  }

h2{
    font-size: 20px;
    color: #3d3c4d;
}

#logo{
 
 width: auto;
 height: 80px;

}

#logo-name{
    color: #efefef;
    font-size: 400%;
}

.btn{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: #3d3c4d;
    padding: 17px 40px;
    border: 0;
    border-radius: 30px;
    margin: 10px;

    background-color: #ffffff;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    
    height: 15vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aca7da;

    position: relative;
    animation-name: header;
    animation-duration: 2s;
}

.nav{

}


.nav :hover{
    transition: 400ms;
    font-size: 22px;
    background-color:#3d3c4d;
    color: #efefef;  
    
}



.divider{
    display: flex;
    justify-content: center;

    position: relative;
    animation-name: divider;
    animation-duration: 2s;
    
    
}

    @keyframes divider{
        0%   {left:-2000px;}
        100% {left:0px; top:0px;}
    }

    .shape1{
    border-top-left-radius: 130px;
    height: 10px;
    width: 24vw;
    background-color: #f5476d
    

}

    .shape2{
    height: 10px;
    width: 24vw;
    background-color: #f29bae

}

    .shape3{
    height: 10px;
    width: 24vw;
    background-color: #c3ddee;
}

    .shape4{
    border-top-right-radius: 130px;
    height: 10px;
    width: 24vw;;
    background-color: #aad1eb;

}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    animation-name: content;
    animation-duration: 2s;

}

@keyframes content{
    0%   {top:1200px;}
    100% {left:0px; top:0px;}
}

.welcome{
    display: flex;
    justify-content: center;
}

    .welcome-box{
        width: 100vw;
        height: auto;
        background-color: #efefef;
        border-radius: 40px;
        margin-bottom: 20px;

        animation-name: pulse;
        animation-duration: 1.0s;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }

    @keyframes pulse {
        0% {
            transform: scale(.97);
           
        }

        100% {
            transform: scale(1);
        
        }
    }

        .welcome-heading{
           text-align: center;
           margin: 30px;
        }

        .welcome-body{
            text-align: center;
            margin: 30px;
        }

        .welcome-body2{
            text-align: center;
            padding: 15px;
            font-size: 30px;
            background-color: #f5476d;
            color: #ffffff;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            text-transform: uppercase;
        }

.nav-panels{
    display: flex;
    justify-content: space-between;
     
}
    .parents-panel{
        display: flex;
        flex-direction: column;
        width: 35%;
        
    }
    

        .parents-panel-btn{
            width: auto;
            height: auto;
            font-size: 30px;
            color: #ffffff;
            background-color: #aad1eb;
            padding: 20px;
            border-radius: 100px;
        }

        .parents{
            margin: auto;
        }

        .parents :hover{
            transition: 400ms;
            font-size: 30px;
            background-color:#3d3c4d;
              
        }

        #social-graphic{
        
            display: block;
            
            margin: auto;
            width: 100%;
        }
    
    .teenagers-panel{
        display: flex;
        flex-direction: column;
        width: 35%;
    }
    

        .teenagers-panel-btn{
            width: auto;
            height: auto;
            font-size: 30px;
            color: #ffffff;
            background-color: #f5476d;
            padding: 20px;
            border-radius: 100px;
            
        }

        .teenagers{
           margin: auto;
        }

        .teenagers :hover{
            transition: 400ms;
            font-size: 30px;
            background-color:#3d3c4d;
              
        }

.recent-cases-container{
    display: flex;
    height: auto;
    background-color: #ffffff;
    border-radius: 40px;
    margin-top: 20px;

}         

.recent-cases-text{
    width: 50vw;
    
}

    .recent-cases-heading{
           margin: 30px;
           
    }

    .recent-cases-body{
        
        margin: 30px;
    }

    .recent-cases-box{
        background-color: #f5476d;
        width: 50vw;
        text-align: center;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;

    }


.stats-container{
    display: flex;
    height: auto;
    border-radius: 40px;
    margin-top: 20px;
    justify-content: space-between;
    color: white;
    
    
}

    .stats-box-left{
        background-color: #f5476d;
        width: 40vw;
        text-align: center;
        border-radius: 40px;
        padding: 30px;
        
    }

        .stats-text-left{
            color: white;
        }

    .stats-box-right{
        background-color: #aad1eb;
        width: 40vw;
        text-align: center;
        border-radius: 40px;
        padding: 30px;
        
    }

    .stats-text-right{
        color: white;
    }

.find-out-more-container{
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}   

    .more-graphic{
        width: 10%;
    }

    .more-box :hover{
        transition: 400ms;
        font-size: 32px;
        background-color:#3d3c4d;
        color: #efefef;
    }

    .more-btn{ 
        width: auto;
        height: auto;
        font-size: 30px;
        color: #3d3c4d;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 100px;
        
    }

 
